version: "3.9"
services:
  app:
    build:
      context: ./
      dockerfile: Dockerfile
      target: app
    volumes:
      - .:/go/src/mx-api-trainee
    env_file:
      - .env
    depends_on:
      - postgres

  postgres:
    image: postgres:13.1-alpine
    volumes:
      - ./schema.sql:/docker-entrypoint-initdb.d/1-schema.sql
      - data:/var/lib/postgresql/data
    env_file:
      - .env

volumes:
  data: